{#
/**
 * @file
 * It wrappes slider.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rendered_slider: It is rendered slider in html format.
 *
 * @see template_preprocess_bxslider_view_bxslider()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% rendered_slider %}
